<div class="content-box event-brite-content-box">
  <header>
    <span>Upcoming event:</span>
    <span>{{site.upcoming_event_name}}</span>
    <button type="button" class="event-expando event-expando-close">&times;</button>
    <button type="button" class="event-expando event-expando-open">+</button>
  </header>
  <img src={{site.upcoming_event_img_path}}>
  <section class="eventbrite content">
    <p><span>{{site.upcoming_event_description}}</span></p>
    <p>For more information about the event and tickets, see: <a href="{{site.upcoming_event_eb_url}}">{{site.upcoming_event_eb_url}}</a></p>
    <br />
  	<a name="event-sign-up"></a>
  	<div style="width:100%; text-align:left;"><iframe src="//eventbrite.com/tickets-external?eid={{site.upcoming_event_id}}&ref=etckt" frameborder="0" height="360" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe><div style="font-family:Helvetica, Arial; font-size:10px; padding:5px 0 5px; margin:2px; width:100%; text-align:left;" ><a class="powered-by-eb" style="color: #dddddd; text-decoration: none;" target="_blank" href="http://www.eventbrite.com/l/registration-online/">Powered by Eventbrite</a></div></div>
  </section>
</div>