<footer class="site-footer">
  <div class="wrapper container">
    <div class="row">

      <div class="col-md-4 laptop-only">
        <a href="index.html"><img alt="Midwest Access Coalition" width=200px src="img/mac-logo-bw.png"></a>
        {% include contact-list.html %}
        {% include address.html %}
      </div>

      <div class="col-md-4 laptop-only">
        <ul class="footer-nav">
          {% for page in site.pages %}
            {% if page.title != 404 %}
              {% if page.title != "404" %}
                <li>
                  <a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
                </li>
              {% endif %}
            {% endif %}
          {% endfor %}   
        </ul>
      </div>

      <div class="col-md-4 main-mobile-footer">
        <div class="footer-row paypal-footer">
          {% include donate_button.html %}
        </div>
        <div class="footer-row">
          {% include social_media_links.html %}
        </div>
        <div class="footer-row">
          {% include email-list-join.html %}
        </div>
      </div>

      <div class="col-md-4 mobile-only contact-list">
        <div class="footer-row mobile-only">
          {% include address.html %}
        </div>
      </div>

    </div>
  </div>
</footer>
