<script src="https://www.gstatic.com/firebasejs/5.0.3/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyDV-YrLgNYaECW_5HnmCPfr9l1zTTEOalk",
    authDomain: "mac-website-197617.firebaseapp.com",
    databaseURL: "https://mac-website-197617.firebaseio.com",
    projectId: "mac-website-197617",
    storageBucket: "mac-website-197617.appspot.com",
    messagingSenderId: "382141687627"
  };
  firebase.initializeApp(config);
</script>

<script type="text/javascript" src="js/hide-and-show.js"></script>
