
<script src="https://www.gstatic.com/firebasejs/5.0.3/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "{{ site.deploy_config.api_key }}",
    authDomain: "{{ site.deploy_config.auth_domain }}",
    databaseURL: "{{ site.deploy_config.database_url }}",
    projectId: "{{ site.deploy_config.project_id }}",
    storageBucket: "{{ site.deploy_config.storage_bucket }}",
    messagingSenderId: "{{ site.deploy_config.messaging_sender_id }}",
  };
  firebase.initializeApp(config);
</script>
