<nav class="navbar site-nav nav-pills">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <a class="site-title" href="{{ site.baseurl }}/"><img alt="Midwest Access Coalition" width=200px src="img/mac-logo.png"><span class="site-title-text">Midwest Access Coalition</span></a>
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <ul class="nav navbar-nav navbar-right">
        <li role="presentation" class="dropdown">

        <a class="page-link dropdown-toggle" data-toggle="dropdown" href="about.html" role="button" aria-haspopup="true" aria-expanded="false">about <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="overview.html">overview</a></li>
            <li><a href="team.html">team</a></li>
            <li><a href="faq.html">faq</a></li>
          </ul>
      </li>
      <li role="presentation" class="dropdown">
        <a class="page-link dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false" href="how-it-works.html">how it works</a>
      </li>
      <li role="presentation" class="dropdown">
        <a class="page-link dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false" href="support.html">if you're pregnant...</a>
      </li>
      <li role="presentation" class="dropdown">
        <a class="page-link dropdown-toggle" data-toggle="dropdown" href="how-to-help.html" role="button" aria-haspopup="true" aria-expanded="false">how to help <span class="caret"></span></a>
          <ul class="dropdown-menu">
          <li><a href="volunteer.html">volunteer</a></li>
          <li><a href="how-to-help.html">join the coalition</a></li>
        </ul>
      </li>
      <li role="presentation" class="dropdown">
        <a class="page-link dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false" href="donate.html">donate</a>
      </li>
      <li role="presentation" class="dropdown">
        <a class="page-link dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false" href="connect.html">connect</a>
      </li>
      {% if false && site.upcoming_event %}
        <li role="presentation" class="dropdown">
          <a class="page-link dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false" href="events.html">events</a>
        </li>
      {% endif %}
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
