<ul class="social-media-list">
  {% if site.twitter_username %}
  <li>
    <a href="https://twitter.com/{{ site.twitter_username }}">
      {% include icons/twitter.html %}
    </a>
  </li>
  {% endif %}

  {% if site.facebook_username %}
  <li>
    <a href="https://facebook.com/{{ site.facebook_username }}">
      {% include icons/facebook.html %}
    </a>
  </li>
  {% endif %}
  <li>
    <a href="mailto:info@midwestaccesscoalition.org">
      {% include icons/contact.html %}
    </a>
  </li>
</ul>
