//IMAGES
$test-img: "http://d.fastcompany.net/multisite_files/cocreate/imagecache/1280/poster/2013/07/1683324-poster-1920-catflakes-control-center.jpg";
$site-background: "../img/gplaypattern.png";


//COLOR LIBRARY
$chartreuse: #cccc33;
$purple: #993366;
$light-coral: rgb(246, 120, 86);
$coral: #ffcc99;
$seafoam-green: #99cc99;
$dark-grey: #282828;
$light-grey: #EEE;
$off-white: #F8F8F8;

//SITE PARTS
$chartreuse-border: $chartreuse solid 1px;
$purple-border: $purple solid 1px;


/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure, div {
    margin: 0;
    padding: 0;
}


/**
 * Basic styling
 */
body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-weight: 300;
    color: $text-color;
    background-image: url($site-background);
    -webkit-text-size-adjust: 100%;
}


/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}

b {
    color: $purple;
}



/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}

.center-align {
    text-align: center;
}

/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
    margin-left: $spacing-unit;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}

/**
 * Centering
*/

.centered {
    margin: 0 auto;
    text-align: centered;
}


/**
 * Eventbrite
*/

.eventbrite {
    margin-top: 50px;
}


/**
 * Big Sticky Buttons
*/

.big-sticky-buttons {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0; /* clear default list margin */
}

.sticky-btn {
    display: flex;
    justify-content: center; /* center the text horizontally */
    align-items: center; /* center the text vertically */

    background: lighten($chartreuse, 20%);
    color: $purple;
    font-family: $accent-font-family;
    font-size: 27px;
    text-align: center;
    width: 6.5em;
    height: 6.5em;
    border-radius: 50%;
    border: 1px;
    margin: 5px 3px;

    &:hover {
        background: $purple;
        color: darken($purple, 20%);
    }
}


/**
 * Links
 */
a {
    color: $purple;
    text-decoration: none;

    &:visited {
        color: darken($purple, 15%);
    }

    &:hover {
        color: $text-color;
        text-decoration: underline;
    }
}



/**
 * Blockquotes
 */
blockquote {
    color: $grey-color;
    border-left: 4px solid $grey-color-light;
    padding-left: $spacing-unit / 2;
    font-size: 18px;
    letter-spacing: -1px;
    font-style: italic;

    > :last-child {
        margin-bottom: 0;
    }
}



/**
 * Code formatting
 */
pre,
code {
    font-size: 15px;
    border: 1px solid $grey-color-light;
    border-radius: 3px;
    background-color: #eef;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: scroll;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}



/**
 * Wrapper
 */
.wrapper {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
    max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
    // margin-right: auto;
    // margin-left: auto;
    margin: 0 auto;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    @extend %clearfix;

    @include media-query($on-laptop) {
        max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
        max-width:         calc(#{$content-width} - (#{$spacing-unit}));
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }
}

@media (min-width: 1200px) {
    .wrapper {
        max-width: 1000px;
    }
}



/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

/**
 * Linebreak
 */
%linebreak {
    &:after {
        display: block;
        height: 1px;
        border: 0;
        border-top: 1px solid $purple;
        margin: 0;
        padding: 0;
    }
}



/**
 * Icons
 */
.icon {
    > svg {
        display: inline-block;
        width: 30px;
        height: 30px;
        vertical-align: bottom;

        path {
            fill: $off-white;
        }
    }
    .lnr {
        fill: $purple;
    }
}
