.donation-btn {
	background: $light-grey;
	color: $purple;
	border: $chartreuse 1px solid;
	border-radius: 10px;
	padding: 20px;
	margin: $spacing-unit / 2;
	text-align: center;	
	&:hover {
		background: $purple;
		color: white;
	}
}

.invisible-btn {
	border: none;
	background: none;
}

.form-item {
	margin-bottom: $spacing-unit;
	label {
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-weight: 300;
    color: $text-color;
	}
}

#recurring-donation {
	@include media-query($on-palm) {
		padding: 0;
	}
}

#recurring-donation-form {
	display: block;
	background: $light-grey;
	border: $chartreuse 1px solid;
	border-radius: 10px;
	width: 90%;
	margin: $spacing-unit/2 auto;
	padding: $spacing-unit * 1.5;
	@include media-query($on-palm) {
		width: 100%;
		padding: $spacing-unit/3;
		margin: $spacing-unit/3 auto;
	}
}

.recurring-donation-btn {
	background: $purple;
	color: white;
	padding: 10px;
	border: none;
	border-radius: 10px;
	width: 100%;
}
