//MAILCHIMP FORM DEFAULTS
.mc-field-group {
	//background: $purple;
	margin: .5em 0;
}
.mc-field-group input {
	border-color: $purple;
	border-width: .1em;
}

.mc-field-group.input-group ul li {
		list-style: none;
	}

#contact-form {
	input {
		width: 95%;
		margin: 0 auto;
	}
	border-radius: 10px;
}

.indicates-required {
	display: none;
}

#email-list-join {
	float: right;
	text-align: right;
	p {
		font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
		font-size: 1em;
	}
	input {
		font-family: Helvetica;
		font-weight: lighter;
		line-height: 2em;
		text-align: right;
		border-radius: 5px;
		padding: 4px;
		margin: 10px;
		border: $purple;
	}
	.submit-btn {
		float: right;
		color: $purple;
		background-color: $off-white;
		&:hover {
			background-color: $purple;
			color: $off-white;
		}
	}

}