.sidebar {
  width: 260px;
  max-height: 550px;
  background: $background-color;
  border: $chartreuse-border;
  border-radius: 5px;
  padding: $spacing-unit .5em;
  flex-shrink: 0;
  position: relative;
  margin-top: 30px;
}
#twitter iframe {
  height: 500px !important; /* twitter get your life together */
}
@media (max-width: 1200px) {
  .sidebar {
    display: none;
  }
}
