---
---
<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>
    <!-- Default Layout -->
    <div id="nonFooter">
      {% include header.html %}
      <div class="page-content">
        {% if site.upcoming_event %}
        <div class="wrapper">
          {% include eventbrite.html %}
        </div>
        {% endif %}
        <div class="wrapper">
          {% include sidebar.html %}
          <div class="content-box">
            {{ content }}
          </div>
        </div>
      </div>
    </div>
    <div id="footer">
      {% include footer.html %}
    </div>
    <!-- <script scr="js/pull_firebase_content.js"></script> -->
    <script src="js/pull_firebase_content.js"></script>
    <script src="js/hide-and-show.js"></script>
  </body>

</html>
